body {
  background-image: radial-gradient(rgb(0, 255, 191), rgb(238, 255, 0)) ;
  color: #4e4e4e;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
}

  
  